{% extends 'base.html' %}
{% load static %}

{% block title %}我的收藏 - 汽车之家{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="mb-4">我的收藏</h1>
    
    {% if cars %}
    <div class="row">
        {% for car in cars %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <!-- 图片容器 -->
                <div class="card-img-wrapper">
                    <img src="{{ car.image_url }}" class="card-img-top" alt="{{ car.brand }} {{ car.model }}">
                    <div class="favorite-badge favorited">
                        <i class="fa fa-heart"></i>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ car.brand }} {{ car.model }}</h5>
                    <p class="card-text">价格: ¥{{ car.price }}</p>
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'vehicle:car_detail' car.slug %}" class="btn btn-primary">查看详情</a>
                        <form action="{% url 'vehicle:toggle_favorite' car.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger">
                                <i class="fa fa-times"></i> 取消收藏
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-info">
        <p>您还没有收藏任何汽车。</p>
        <a href="{% url 'vehicle:car_list' %}" class="btn btn-primary mt-3">浏览汽车</a>
    </div>
    {% endif %}
</div>
{% endblock %}